@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.herosection {
  background: linear-gradient(
    194deg,
    rgba(84, 1, 126, 1) 15%,
    rgba(23, 22, 45, 1) 62%,
    rgba(44, 147, 168, 1) 100%
  );
}

.body-style {
  display: flex !important;
  justify-content: center !important;
}
